.color-box {
  width: 50px;
  height: 50px;
  margin: 0px;
  display: inline-block;
}

.color-boxes-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
  border: 10px solid #333;
}

.App {
  text-align: center;
  padding: 20px;
}

.App h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

div {
  cursor: crosshair;
}
